# Database
DATABASE_URL="file:./dev.db"

# SMTP Configuration for Gmail (real email sending)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=maxnoah901@gmail.com
SMTP_PASS=gsla zajm pzzu msdz

# Email Configuration
FROM_EMAIL=maxnoah901@gmail.com

# Server
PORT=3000
